@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





/* ##################### html element styling ####################### */

:root{
    font-size: 62.5%;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
}

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}





/* ################## utility classes ################## */

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5em;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e93964;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-grey{
    color: #555555;
}

.bg-dark{
    background-color: #263238;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: white;
    border-radius: 1.5em;
}

.btn-primary:hover{
    background-color: #f4f4f4;
}

.btn-secondary{
    background-color: white;
    border: 0.15rem solid #e93964;
    border-radius: 1.5em;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

.check-icon{
    padding: 0 0.5rem;
}





/* ################## header styling #################### */

.header{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/header-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

.navbar .nav-item a{
    padding-bottom: 0.3rem;
}

.navbar .logo, .navbar .nav-items a{
    color: #f4f4f4;
}

.navbar .logo{
    font-weight: 400;
    float: left;
}
.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar::after{
    content: "";
    display: block;
    clear: both;
}

.navbar .nav-item{
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem;
}

.navbar a:link, .navbar a:visited{
    text-decoration: none;
}

.navbar a:hover{
    border-bottom: 1px solid #f4f4f4;
}

.header .header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.header .header-content p{
    text-transform: uppercase;
    font-weight: 300;
}

.header .header-content{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    /* border: 2px solid #f4f4f4; */
} 

.header .header-content a:link{
    text-decoration: none;
}




/* ###################### SHOWCASE STYLING SHEET ######################### */

.showcase{
    background-color: #dddddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row1{
    margin-bottom: 10em;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
    height: 100%;
}

.row1 .text-box, .row2 .img-box{
    float: right;
    width: 50%;
    height: 100%;
}

.row1 .text-box, .row2 .text-box{
    padding: 5em;
    background-color: #ffffff;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row1 .text-box .row1-heading, .row2 .text-box .row2-heading{
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.row a:link{
    text-decoration: none;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}




/* ######################### FEATURES STYLING ########################### */

.features{
    padding: 10rem 0;
}

.box{
    width: 33.33333333%;
    float: left;
    padding: 1rem;
    text-align: center;
}

.box-wrapper .box-1, .box-wrapper .box-3{
    background-color: #263238;
}

.box-wrapper .box-2{
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.box-wrapper{
    box-shadow: 5px 5px 20px 0px #aaa;
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.icon{
    font-size: 1.5rem;
}

.box-1 .icon, .box-3 .icon{
    color: #e93964;
}





/* ######################### FOOTER STYLING ########################## */



.footer{
    background-color: #263238;
    color: #f4f4f4;
    text-align: center;
    padding: 2rem;
}

.social-media-links i{
    padding: 2rem;
}





/* ######################### ABOUT PAGE STYING ########################### */

.about{
    padding: 5rem;
}

.about-heading::after{
    content: "";
    border-bottom: 0.1em solid #e93964;
    display: block;
    width: 100%;
}





/* ############################ BOX CONTENT STYLING ############################ */

.box-content{
    padding: 1rem 20rem;
}

.box-content .first-box{
    float: left;
}

.box-content .second-box{
    float: right;
}

.box-content::after{
    content: "";
    display: block;
    clear: both;
}




/* ############################## COUNT STYLING ############################## */

.count-item{
    font-weight: 600;
    float: left;
    width: 25%;
}

.counts{
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}





/* ############################## ABOUT BANNER STYLING ############################ */

.cta-banner{
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: #fff;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
}

.cta-banner-left{
    float: left;
    padding-top: 1.5em;
    width: 60%;
    font-weight: 700;
}

.cta-banner-right{
    float: right;
    border: 0.5em solid #fff;
    border-width: 0.4rem;
    width: 40%;
    text-align: center;
}

.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}

.btn-cta{
    display: block;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    color: #ffffff;
}

.cta-banner-right a:link{
    text-decoration: none;
    font-weight: 700;
}





/* ########################## CONTACT PAGE STYLING ######################### */

.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
}

.form-wrapper .company-address{
    height: 760px;
    background: #fff;
    float: left;
    width: 49%;
    padding: 1rem;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}





/* ######################### FORM STYLING ########################## */

.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    float: right;
    width: 49%;
    padding: 1rem;
}

.form h1::after{
    content: "";
    display: block;
    border: 0.2rem solid #ee4758;
    border-radius: 0.2rem;
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: " *";
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 25.5rem;
    padding: 1rem;
}

.form-wrapper .form .form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #e63946;
    outline: none;
    border: none;
    cursor: pointer;
}





/* ############################ MEDIA QUERIES ############################### */

@media (max-width: 500px){
    
    *{
        box-sizing: border-box;
    }
    :root{
        font-size: 50%;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px #aaa;    }

    .features .box-2, .features .box-3{
        margin-top: 2rem;
    }

    .features .box-wrapper{
        box-shadow: none;
    }

    .cta-banner-left, .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    .box-content .first-box, .box-content .second-box{
        float: none;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .box-content{
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .about-containent{
        text-align: left;
        width: 100%;
    }

    .count-item{
        font-weight: 600;
        float: left;
        width: 50%;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form .contact-heading{
        font-size: 4rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

/* ####################### FOR DEVICES MORE THAN 501px ######################### */


@media (min-width: 501px) and (max-width: 600px){
    *{
        box-sizing: border-box;
    }
    :root{
        font-size: 50%;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px #aaa;    }

    .features .box-2, .features .box-3{
        margin-top: 2rem;
    }

    .features .box-wrapper{
        box-shadow: none;
    }

    .box-content .first-box, .box-content .second-box{
        float: none;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .box-content{
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .about-containent{
        text-align: left;
        width: 100%;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

/* ####################### FOR DEVICES MORE THAN 601px ######################### */

@media (min-width: 601px) and (max-width: 768px){
    *{
        box-sizing: border-box;
    }
    :root{
        font-size: 50%;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px 0px #aaa;    
    }

    .features .box-2, .features .box-3{
        margin-top: 2rem;
    }

    .features .box-wrapper{
        box-shadow: none;
    }

    .box-content{
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .about-containent{
        text-align: left;
        width: 100%;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}